<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @market_place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @market_place.address %>
</p>

<p>
  <strong>District:</strong>
  <%= @market_place.district %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @market_place.postcode %>
</p>

<p>
  <strong>Line:</strong>
  <%= @market_place.line %>
</p>

<p>
  <strong>Pickup type:</strong>
  <%= @market_place.pickup_type %>
</p>

<p>
  <strong>Open hour:</strong>
  <%= @market_place.open_hour %>
</p>

<p>
  <strong>Close hour:</strong>
  <%= @market_place.close_hour %>
</p>

<p>
  <strong>Service days:</strong>
  <%= @market_place.service_days %>
</p>

<%= link_to 'Edit', edit_market_place_path(@market_place) %> |
<%= link_to 'Back', market_places_path %>
